* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

main {
  z-index: 100;
}

body {
  background: #191919;
}

#jumbotron {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#particles-js {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  z-index: 0;
}

/* POPPINS FONT */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.text-xl {
  font-size: 128px;
}

.text-white {
  color: white;
}

.text-l {
  font-size: 36px;
}
.contact-container {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

i {
  margin-right: 8px;
}

.text-regular {
  font-size: 24px;
}
.text-subtitle {
  transform: translateY(-20px);
}

#portfolio {
  height: 100vh;
}

.link-portfolio {
  margin-top: 40px;
}

.linear-wipe {
  text-align: center;

  background: linear-gradient(
    to right,
    #c7d3ee 20%,
    #698cbf 40%,
    #698cbf 60%,
    #c7d3ee 80%
  );
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 3s linear infinite;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Styles for tablet */
  .text-xl {
    font-size: 96px;
  }
  .text-l {
    font-size: 32px;
  }
  .text-regular {
    font-size: 18px;
  }
}

/* Phone Styles */
@media (max-width: 767px) {
  /* Styles for phone */
  .text-xl {
    font-size: 48px;
  }
  .text-l {
    font-size: 24px;
  }
  .text-regular {
    font-size: 18px;
  }
  .contact-container {
    flex-direction: column;
    gap: 20px;
  }
  .text-subtitle {
    transform: translateY(-10px);
  }
}
